<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/alt_window_16.gif">
         <run
               class="me.stec.admin.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="me.stec.admin.Perspective"
            id="me.stec.admin.perspective"
            name="MainPerspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="me.stec.admin.application"
            name="СТЭК Администратор">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="СТЭК Администратор">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="me.stec.admin.command.CmdExit"
            id="me.stec.admin.command.CmdExit"
            name="CmdExit">
      </command>
      <command
            defaultHandler="me.stec.admin.command.CmdVwFilterFind"
            id="me.stec.admin.command.CmdVwFilterFind"
            name="CmdVwFilterFind">
      </command>
      <command
            defaultHandler="me.stec.admin.command.CmdVwFilterClear"
            id="me.stec.admin.command.CmdVwFilterClear"
            name="CmdVwFilterClear">
      </command>
      <command
            defaultHandler="me.stec.admin.command.CmdVwFilterBarcodeFind"
            id="me.stec.admin.command.CmdVwFilterBarcodeFind"
            name="CmdVwFilterBarcodeFind">
      </command>
      <command
            defaultHandler="me.stec.admin.command.CmdVwFilterBarcodeClear"
            id="me.stec.admin.command.CmdVwFilterBarcodeClear"
            name="CmdVwFilterBarcodeClear">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="me.stec.admin.menu.file"
               label="&amp;Файл">
            <command
                  commandId="me.stec.admin.command.CmdExit"
                  label="&amp;Выход"
                  style="push"
                  tooltip="Выход из приложения">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:me.stec.admin.view.VwFilter1">
         <command
               commandId="me.stec.admin.command.CmdVwFilterClear"
               icon="icons/app/delete.gif"
               label="Очистить"
               mode="FORCE_TEXT"
               style="push"
               tooltip="Очистить фильтр">
         </command>
         <command
               commandId="me.stec.admin.command.CmdVwFilterFind"
               icon="icons/app/Search.png"
               label="Найти"
               mode="FORCE_TEXT"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:me.stec.admin.view.VwFilterBarcode1">
         <command
               commandId="me.stec.admin.command.CmdVwFilterBarcodeClear"
               icon="icons/app/delete.gif"
               label="Очистить"
               mode="FORCE_TEXT"
               style="push"
               tooltip="Очистить штрихкод">
         </command>
         <command
               commandId="me.stec.admin.command.CmdVwFilterBarcodeFind"
               icon="icons/app/Search.png"
               label="Найти"
               mode="FORCE_TEXT"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="me.stec.admin.view.VwFilter"
            icon="icons/app/Filter.png"
            id="me.stec.admin.view.VwFilter"
            name="Фильтр">
      </view>
      <view
            allowMultiple="false"
            class="me.stec.admin.view.VwListStudent"
            icon="icons/app/VwListStudent.png"
            id="me.stec.admin.view.VwListStudent"
            name="Студенты">
      </view>
      <view
            allowMultiple="false"
            class="me.stec.admin.view.VwListGood"
            icon="icons/app/VwListGood.png"
            id="me.stec.admin.view.VwListGood"
            name="Возможности">
      </view>
      <view
            allowMultiple="false"
            class="me.stec.admin.view.VwListDoc"
            icon="icons/app/VwListDoc.png"
            id="me.stec.admin.view.VwListDoc"
            name="Документы">
      </view>
      <view
            allowMultiple="false"
            class="me.stec.admin.view.VwListDocGroup"
            icon="icons/app/VwListDocGroup.png"
            id="me.stec.admin.view.VwListDocGroup"
            name="Группы документов">
      </view>
      <view
            allowMultiple="false"
            class="me.stec.admin.view.VwListOrder"
            icon="icons/app/VwListOrder.png"
            id="me.stec.admin.view.VwListOrder"
            name="Приказы">
      </view>
      <view
            allowMultiple="false"
            class="me.stec.admin.view.VwListCard"
            icon="icons/app/VwListCard.gif"
            id="me.stec.admin.view.VwListCard"
            name="Карточки">
      </view>
      <view
            allowMultiple="false"
            class="me.stec.admin.view.VwFilterBarcode"
            icon="icons/app/VwFilterBarcode.png"
            id="me.stec.admin.view.VwFilterBarcode"
            name="Штрихкод">
      </view>
      <view
            allowMultiple="true"
            class="me.stec.admin.view.VwItemStudent"
            icon="icons/app/VwItemStudent.png"
            id="me.stec.admin.view.VwItemStudent"
            name="Студент">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="DcrVwFilter"
            icon="icons/alt_window_16.gif"
            id="me.stec.admin.view.decorator.DcrVwFilter"
            label="DcrVwFilter"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="me.stec.admin.splashHandlers.InteractiveSplashHandler"
            id="me.stec.admin.splashHandlers.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            productId="me.stec.admin.product"
            splashId="me.stec.admin.splashHandlers.interactive">
      </splashHandlerProductBinding>
   </extension>

</plugin>
